<header>

    <img src="assets/img/dener.jpg" 
    alt="Alecio Araujo"
    width="130px"
    height="130px"
    loading="eager"
    />

    <h1>Alecio Araujo</h1>

</header>

<aside>
    <div class="container">
        <p> Java | Spring Boot | Angular | PL/SQL </p>
        <p>São Paulo, São Paulo</p>
        <p> 
            Atuo no mercado de tecnologia desde 2022, participando de grandes projetos com o uso de tecnologias modernas e legadas, 
            como Java e Spring Boot. Desenvolvi uma sólida capacidade de resolução de conflitos e colaboração em equipe. 
            Além disso, adquiri profundo conhecimento em bancos de dados, com foco em otimização de processos procedurais em Oracle.
        </p>

    
     <nav>
        <ul>
            <li>
                <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                    Download CV
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/al%C3%A9cio-ara%C3%BAjo/" target="_blank" class="btn btn-secondary">
                    LinkedIn
                </a>
            </li>
        </ul>
     </nav>

    <section>
        <figure>
            <img 
            src="assets/icons/whatsapp.svg"
            alt="whatsapp"
            width="22px"
            height="24px"
            />

            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5511989059961&text=Ol%C3%A1%20Alecio,%20preciso%20de%20um%20job!"
                target="_blank">
                
                <strong>Envie uma mensagem no whatsapp</strong>
                <p>+55 11 98905-9961</p>
                </a>
            </figcaption>
        </figure>
    </section>

    <section>
        <figure>
            <img 
            src="assets/icons/whatsapp.svg"
            alt="whatsapp"
            width="22px"
            height="24px"
            />

            <figcaption>
                <a href="mailto:aleciosilveira97@gmail.com"
                target="_blank">
                
                <strong>Envie um email</strong>
                <p>aleciosilveira97&#64;gmail.com</p>
                </a>
            </figcaption>
        </figure>
    </section>
    </div>


</aside>
